.chat_box,.msg_box{
    font-family: sans-serif;
    background-color: white;
    width: 250px;
    border: 3px solid grey;
    border-radius: 10px ;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
}
.chat_head,.msg_head{
    background-color: blue;
    color: white;
    padding: 15px;
}
.chat_body {
    height: 500px;
}
.user {
padding: 20px 25px;
}
.user:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: green;
    left: 5px;
    top :75px;
    border-radius: 10px;
}

.user:hover{
    background-color: white;
    color: blue;
}
.msg_box {
    width: 250px;
    background-color: white;
    bottom: -5px;
}

.msg_body{
    height: 300px;
}
.close{
    float: right;
    color: white;
}
.msg_input {
    width: 100%;
    border-top: 2px solid green;
     -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}