
<h2>Event Information </h2>
<br>
<div class="created" *ngIf = "isCreated">Event is created</div>
<br>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
  <label>Event Name : </label>
  <input type="text" 
      id = "eventName" 
      formControlName = "eventName" />
      <br> 

  <label>Event Time : </label>
  <input type="text" 
      id = "eventTime" 
      formControlName = "eventTime" />
      <br> 
  
  <label>Event Date : </label>
  <input type="date"
          id ="eventDate"
          formControlName = "eventDate"/> 
  
  <br>
  <label>Your Current Location : </label>
  <div>Landtitude : {{lat}} <br>
      Longtitude : {{long}}
  </div>
<br>


     <button type="submit" >Submit</button>  
</form>

<h2>Your current Location</h2>
<sebm-google-map 
      [latitude]="lat"
      [longitude]="long"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      >
    
      <sebm-google-map-marker 
          (markerClick)="clickedMarker('current Location')"
          [latitude]="lat"
          [longitude]="long"
          [label]="caption"
          >
          
        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>
     

    </sebm-google-map>